
<div class="container-fluid">
  <div class="row">
    <div align="center" class="col-xs-12 col-sm-12 col-md-12">
      <legend>GESTION DE PREGUNTAS</legend>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-header icon="fa-calendar" title="Encuestas disponibles"><a href="">Manage</a></rd-widget-header>
        <div class="table-responsive">
          <table class="tableCursoAsignatura table">
            <thead>
              <tr>
                <td><strong>Titulo</strong></td>
                <td><strong>Destinado A</strong></td>
                <td><strong>Fecha Creación</strong></td>
                <td><strong>Gestión</strong></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="encuesta in listadoEncuesta">
                <td>{{encuesta.str_titulo}}</td>
                <td>{{encuesta.str_destinado_a}}</td>
                <td>{{encuesta.dt_fecha_creacion}}</td>
                <td><a type="button" href="#/pregunta" ng-click="encuestaSeleccion(encuesta)" class="btn btn-primary btn-xs">Preguntas</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </rd-widget>
    </div>
  </div>
</div>